

#nav {
    width: 100%;
    height: 65px;
    /* border: solid; */
    position: fixed;
    background: transparent;
    margin-top: -8px;
    background-color: #262626;
    border: 1px solid red;
  }
  .input {
    width: 40%;
    height: 30px;
    margin-left: 25%;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    outline: none;
    border: none;
  }
  #clear {
    width: 25px;
    height: 25px;
    margin-left: -35px;
    margin-right: 20px;
    cursor: pointer;
    margin-bottom: -8px;
  }
  
  .submit {
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    border: none;
  }
  #sidebar {
    width: 18%;
    height: 555px;
    /* border: solid; */
    position: fixed;
    margin-top: 43px;
  }
  #newsbar {
    width: 78%;
    float: right;
    padding-right: 20px;
    left: 23%;
    margin-top: 43px;
    /* height: 850px; */
    /* border: solid; */
  }

  #TC img {
    width: 50px;
    height: 50px;
    padding-left: 25px;
    padding-top: 20px;
  }
  #joinextracrunch h1 {
    font-family: sans-serif;
    font-size: 22px;
    padding-left: 20px;
    font-weight: 800;
    color: #f6a623;
  }
  #login h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(119, 115, 115);
  
    padding-left: 25px;
  }
  #searchlogo {
    width: 18px;
    height: 18px;
  }
  #mainnews {
    display: flex;
    justify-content: space-between;
    /* border: solid; */
  }
  .drop {
    position: absolute;
    width: 200px;
    height: 200px;
    border: rgb(201, 201, 86) solid;
    display: none;
  }
  #nav:hover .drop {
    position: static;
    display: block;
  }
  
  #mainnews div {
    width: 80%;
    height: 170px;
    overflow: hidden;
    /* border: solid; */
    border-bottom: 0.5px rgb(119, 115, 115) solid;
  }
  #mainnews img {
    width: 350px;
    height: 180px;
  }
  #mainnews:hover {
    cursor: pointer;
    background-color: rgb(233, 232, 232);
  }
  
  #watchx {
    position: relative;
    width: 55%;
    left: 280px;
    top: 15px;
    height: 700px;
    /* border: 1px solid; */
  }
  #titl {
    position: absolute;
  }
  
  #titl h2 {
    font-size: 29px;
    font-weight: 800;
    line-height: 1.1;
    cursor: pointer;
    font-family: sans-serif;
  }
  
  #autpub p {
    display: inline;
    padding-right: 20px;
    font-size: 17px;
    font-family: sans-serif;
  }
  #titl img {
    padding-top: 20px;
    width: 100%;
  }
  #back button {
    width: 50px;
    border-radius: 50%;
    background-color: rgb(132, 207, 122);
    border: none;
  
    height: 50px;
    position: fixed;
    left: 78%;
    margin-top: 70px;
  }
  #back button:hover {
    background-color: #f6a623;
    cursor: pointer;
  }
  #loging:hover {
    color: #f6a623;
    cursor: pointer;
  }
  
  #searchbox {
    width: 40%;
  
    height: 300px;
    border: 1px solid;
    position: fixed;
    overflow-y: scroll;
    background: transparent;
    visibility: hidden;
    left: 26%;
    background-color: #262626;
  }
  #loger {
    background-color: rgb(10, 90, 3);
    position: fixed;
  
    height: 45%;
    width: 40.1%;
    top: 48%;
    left: 26%;
    visibility: hidden;
  }
  #ex {
    float: right;
    color: white;
    padding-right: 5px;
    margin-top: -1px;
    padding: 5px;
  }
  #ex:hover {
    cursor: pointer;
    color: yellow;
  }
  #username,
  #password {
    width: 70%;
    margin-left: 14%;
    margin-top: 5%;
    height: 30px;
  }
  #loger h1 {
    color: #f6a623;
  
    text-align: center;
  }
  #submit {
    margin-left: 37%;
    margin-top: 5%;
    width: 30%;
    height: 13%;
  }
  #searchbox::-webkit-scrollbar {
    width: 8px;
    cursor: pointer;
  }
  
  #searchbox::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px rgba(109, 108, 108, 0.3);
    cursor: pointer;
  }
  
  #searchbox::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    cursor: pointer;
    outline: 1px solid slategrey;
  }
  
  #over {
    margin-top: 50px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
  
    font-weight: 600;
    color: white;
  }
  #over p:hover {
    color: white;
    background-color: rgb(138, 135, 135);
    cursor: pointer;
  }